<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" (click)="setCategory('World')">World</a>
    <a class="p-2 text-muted" (click)="setCategory('Technology')">Technology</a>
    <a class="p-2 text-muted" (click)="setCategory('Design')">Design</a>
    <a class="p-2 text-muted" (click)="setCategory('Culture')">Culture</a>
    <a class="p-2 text-muted" (click)="setCategory('Business')">Business</a>
    <a class="p-2 text-muted" (click)="setCategory('Opinion')">Opinion</a>
    <a class="p-2 text-muted" (click)="setCategory('Science')">Science</a>
    <a class="p-2 text-muted" (click)="setCategory('Health')">Health</a>
    <a class="p-2 text-muted" (click)="setCategory('Style')">Style</a>
    <a class="p-2 text-muted" (click)="setCategory('Travel')">Travel</a>
  </nav>
</div>

<div class="row d-flex">
  <div class="figure">
    <img class="photo" src="https://store-images.s-microsoft.com/image/apps.40609.13699191180021100.4742ea56-18b9-43fa-bfb3-2da8de4c1b84.31ecd898-9982-43fb-b801-415621d50d66" alt="">
    <div class="col-md-6 px-0 p-5">
      <h1 class="display-4 font-italic">Welcome to Tech Blog</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
      <p class="lead mb-0"><a [routerLink]="['/reg']" class="text-white font-weight-bold">Registration...</a></p>
    </div>
  </div>

  <div *ngFor="let post of posts | sorting:category" class="col-md-4">
    <div class=" p-0 mb-4 box-shadow">
      <quill-view [content]="post.photo" ></quill-view>
      <div class="card-body mb-3">
              <div class="m-0 d-flex justify-content-between align-items-center">
                <strong class="mb-2 text-primary">{{post.category}}</strong>
          <div class="btn-group">
          </div>
          <small class="text-muted">{{post.date | date: "short"}}</small>
        </div>
        <h3>
          <a class="text-dark" [routerLink]="['/post', post._id]">{{post.title}}</a>
        </h3>
        <quill-view [content]="post.text" ></quill-view>
      </div>
    </div>
  </div>


